<ion-content padding class="level_content">

		<ion-button class="btns" color="danger" expand="full" shape="round" (click)="startEasy('Easy')"><span id="easy_bt">Easy</span></ion-button>
		<ion-button class="btns" color="danger" expand="full" shape="round" (click)="startMedium('Medium')"><span id="medium_bt">Medium</span></ion-button>
		<ion-button class="btns" color="danger" expand="full" shape="round" (click)="startHard('Hard')"><span id="hard_bt">Hard</span></ion-button>
</ion-content>

<ion-footer>
	<ion-toolbar>
  	<ion-button class="goback_bt" color="light" expand="full" fill="clear" (click)="goBack()">GO BACK</ion-button>
  </ion-toolbar>
</ion-footer>
