<div id="timer">
	{{t}}
</div>
<ion-content padding class="gameMode_content">
	<div id="car_icon" [ngStyle]="{'margin-top': margin, 'transform': 'scale(' + size + ')'}">
		<ion-img class="character_img" [ngStyle]="{'display': v2}" src={{imgPath1}}></ion-img>
		<ion-img class="character_img" [ngStyle]="{'display': v1}" src={{imgPath2}}></ion-img>
	</div>

</ion-content>

<ion-footer (tap)="tapEvent($event)">
	<ion-toolbar>
		<ion-img id="tab_img" src="https://res.cloudinary.com/zoey1111/image/upload/v1545139188/tab.gif"></ion-img>
	</ion-toolbar>
</ion-footer>
